img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     
}

.center {
    text-align: center;
    padding: 10px 20px;
  background-color:rgb(237, 235, 226);
  
}

#buton { width: 300px;
}

.container {
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    margin: 0;
    width: 1500px;
    
    
}
    
 .item {
  flex:10;
  margin:10px;

  
 }

.item1 {
  border:5px solid white;
  text-align: center;
  box-sizing: border-box;
  
}

.item2 {
  border:5px solid white;
  text-align: center;
  
}
.item3 {
  border:5px solid white;
  text-align: center;
}
 
#id {
  background-color: white;
  border:2px solid black;
  padding:0;

