img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     
     
}


html, body {
  align-items: center;
}

.center {
    text-align: center;
    padding: 10px 20px;
    background-color:rgb(237, 235, 226);
    top:50%;
    left:50%;
    width: 900px;
  margin:0 auto
  
}
 .container {
  display: grid;
  grid-template-columns:repeat(3,33%) ;
  justify-content: center;
  gap:3px;
  width: 900px;
  margin: 0 auto;

 }
 .left, .item, .right {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items:center ;
  padding: 20px;
 }

 .left {
  background-color: aquamarine;
 }

 .item {
  background-color: aquamarine;
 }
 .right {
  background-color: darkcyan;
 }
 *{margin: 0;
 padding: 0;
 box-sizing: border-box;}  


 footer {
  text-align: center;
  padding: 20px;
 }

