
/*sırasız listede daire yapmak */

ul.a { list-style-type: circle;

}

/* sırasır listede kare yapmak */

ul.b { list-style-type: square;}
/* roma rakamı yapmak için */
ol.c {
    list-style-type: upper-roman;
}
/*harf yapmak için*/
ol.d {
    list-style-type: lower-alpha;
}

/*madde dışarıda olsun */
ul.f {
    list-style-position: outside;
}

/*madde içeride olsun*/
ul.g {
    list-style-position: inside;
}





