

/*img {
    float: right;
}

div {
    float: left;
    padding: 15px;
}
.div1 {
    background-color: red;
}
.div2 {
    background-color: green;
}
.div3 {
    background-color: yellow;
}

/* p ögesini göstermek için div e tıklanır 
p {
    display: none;
    background-color: fuchsia;
    padding: 20px;
}

div:hover p {
    display: block;

p:first-child {
color: red;
}
q:lang(no) {
    quotes:"~" "~";*/

/*
p::first-letter {
    color:red;
    font-size: xx-large;
}

p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

p.intro::first-letter {
    color:red;
    font-size: 200%;
}
p.intro::first-letter {
    color:red;
    font-size: 200%;*/

/*işaretleyici ekleme */
::marker {
    color:red;
    font-size: 23px;
}

/* şeffaf kutu üzerine yazı ve arkasına resim 

div.background {
    background:url(manzara.jfif) repeat;
    border:2px solid black;
}
div.transbox {
    margin: 30px;
    background-color: antiquewhite;
    border:1px solid black;*/
    
   /* metin üzerine yazı 
}
img {
    position: absolute;
    left:0px;
    top:0px;
    z-index: -1;
}
.container {
    position:relative
}
.black-box {
    position:relative;
    z-index:1;
    border:2px solid black;
    height: 100px;
    margin:30px;
    
}

.gray-box {
    position:fixed;
    z-index: 3; 
    background: lightgray;
    height: 60px;  
    width: 50%;
    right:: 300px;
    top: 100px;
}
.green-box {
    position:absolute;
    z-index: 2;
    background-color: lightgreen;
    width: 45%;
    height: 100px;
    left: 290px;
    top: 150px;
    
}
.nav {
    background-color: yellow;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
} 

ul { 
    list-style-type: none;
    margin:0px;
    padding: 0px;
    width: 200px;
    background-color: #f1f1f1;}

     li a{ display: block;
        color:#000;
        padding: 8px 16px;
        text-decoration: none;
     }
     li a.active {
        background-color: #04AA6D;
        color:white
     }
     li a:hover:not(.active) {
        background-color: #555;
        color:white;
     }*/
     /* üzerine fare getirdiğinde açılan 
     .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropbtn {
        background-color: chartreuse;
        color:white;
        padding: 16px;
        font-size: 16px;
        border:none;
        cursor: pointer;
      }

      .dropdown {
        position:relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: chocolate;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a { color:black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }
        .dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}*/
  

/*açılır pencere resmi 
.dropdown {
    position: relative;
    display:inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}*/
 /* resim altına yazı yazma 
div.gallery {
    margin: 5px;
    border:1px solid #ccc;
    float: left;
    width: 180px;
}
div.galerry:hover {
    border:1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}*/

/*yan yana gif eklemek 

#home {
    width:100px;
    height: 100px;
    background:url("css/kız.gif");
}
#next {
    width:100px;
    height: 100px;
    background:url("css/kız.gif");
} */
 /* seçici çerçeve özelliği eklemek */

[title~=çiçekler] {
    border:5px solid yellow
}
[title~=papatya] {
    border:5px solid purple
}

/* Button - Form
input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
  }
  
  input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
  } 

  input[type-text]{
    width: 100%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border:2px solid red;
  }*/


/*renkli giriş alanları 

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }*/

  /*arama çubuğu
  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }*/


  /* formm butonu seçim menüsü
  select {
    width: 100%;
    padding: 16px 20px;
    border:none;
    border-radius: 4px;
    background-color: gray;
  }*/

/*
  input[type=button], input[type=sumbit], input [type=reset] {
    background-color: #04AA6D;
    color:white;
    padding: 16px 32px;
    text-decoration: none;
    margin:4px 2px;
    cursor:pointer;
    border:none
  }
body {
  counter-reset: section;
}

h1 {
  counter-reset: subsection;
}

h1::before {
  counter-increment: section;
  content: "Section " counter(section) ". ";
}

h2::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}

*{box-sizing: border-box;}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    background: pink;
}
.header {
    padding: 10px;
    text-align:left;
    background-color:hotpink;
    margin: 10px;
}
.header h1 {
    font-size: 50px;
}
.topnav a {
    float:left;
    display: block;
    color:cornflowerblue;
    text-align: center;
    padding: 14px  16px;

}

.topnav a:hover {
    background-color: darkgrey;
    color:grey;
}


.card {
    background-color:lightcoral;;
    padding: 20px;
    margin-top: 40px;
}


.row::after {
    content:"";
    display: table;
    clear:both;
}
.Footer {
    padding: 20px;
    text-align: center;
    background-color:lightsalmon;
    font-size:x-small;
}


h1 {
  font-size: 60px;
  }

  p {
    font-size: 25px;
    line-height: 50px;
  }
  .button {
    background-color: grey;
    color:white
  }
  #div1 {
    position: absolute;
    left:50px;
    width: calc (100%-100%);
    border:1px solid black;
    background-color: yellow;
    padding: 5px;
}*/

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
  

#rcorners2 {
  border-radius: 25px;
  border:2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
#rcorners3 {
  border-radius: 25px;
  background: url(paper.jfif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}