

/*img {
    float: right;
}

div {
    float: left;
    padding: 15px;
}
.div1 {
    background-color: red;
}
.div2 {
    background-color: green;
}
.div3 {
    background-color: yellow;
}

/* p ögesini göstermek için div e tıklanır 
p {
    display: none;
    background-color: fuchsia;
    padding: 20px;
}

div:hover p {
    display: block;

p:first-child {
color: red;
}
q:lang(no) {
    quotes:"~" "~";*/

/*
p::first-letter {
    color:red;
    font-size: xx-large;
}

p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

p.intro::first-letter {
    color:red;
    font-size: 200%;
}
p.intro::first-letter {
    color:red;
    font-size: 200%;*/

/*işaretleyici ekleme */
::marker {
    color:red;
    font-size: 23px;
}

/* şeffaf kutu üzerine yazı ve arkasına resim 

div.background {
    background:url(manzara.jfif) repeat;
    border:2px solid black;
}
div.transbox {
    margin: 30px;
    background-color: antiquewhite;
    border:1px solid black;*/
    
   /* metin üzerine yazı 
}
img {
    position: absolute;
    left:0px;
    top:0px;
    z-index: -1;*/
}
.container {
    position:relative
}
.black-box {
    position:relative;
    z-index:1;
    border:2px solid black;
    height: 100px;
    margin:30px;
}

