

/*img {
    float: right;
}

div {
    float: left;
    padding: 15px;
}
.div1 {
    background-color: red;
}
.div2 {
    background-color: green;
}
.div3 {
    background-color: yellow;
}
*/
/* p ögesini göstermek için div e tıklanır 
p {
    display: none;
    background-color: fuchsia;
    padding: 20px;
}

div:hover p {
    display: block;

p:first-child {
color: red;
}
q:lang(no) {
    quotes:"~" "~";*/

/*
p::first-letter {
    color:red;
    font-size: xx-large;
}

p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

p.intro::first-letter {
    color:red;
    font-size: 200%;
}
p.intro::first-letter {
    color:red;
    font-size: 200%;*/

/*işaretleyici ekleme 
::marker {
    color:red;
    font-size: 23px;
}*/

/* şeffaf kutu üzerine yazı ve arkasına resim 

div.background {
    background:url(manzara.jfif) repeat;
    border:2px solid black;
}*/
div.transbox {
    margin: 30px;
    background-color: antiquewhite;
    border:1px solid black;*/
    
    /* metin üzerine yazı 
}
img {
    position: absolute;
    left:0px;
    top:0px;
    z-index: -1;
}
.container {
    position:relative
}
.black-box {
    position:relative;
    z-index:1;
    border:2px solid black;
    height: 100px;
    margin:30px;
    
}

.gray-box {
    position:fixed;
    z-index: 3; 
    background: lightgray;
    height: 60px;  
    width: 50%;
    right:: 300px;
    top: 100px;
}
.green-box {
    position:absolute;
    z-index: 2;
    background-color: lightgreen;
    width: 45%;
    height: 100px;
    left: 290px;
    top: 150px;
    
}
.nav {
    background-color: yellow;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
} 

ul { 
    list-style-type: none;
    margin:0px;
    padding: 0px;
    width: 200px;
    background-color: #f1f1f1;}

     li a{ display: block;
        color:#000;
        padding: 8px 16px;
        text-decoration: none;
     }
     li a.active {
        background-color: #04AA6D;
        color:white
     }
     li a:hover:not(.active) {
        background-color: #555;
        color:white;
     }*/
     /* üzerine fare getirdiğinde açılan 
     .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropbtn {
        background-color: chartreuse;
        color:white;
        padding: 16px;
        font-size: 16px;
        border:none;
        cursor: pointer;
      }

      .dropdown {
        position:relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: chocolate;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a { color:black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }
        .dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}*/
  

/*açılır pencere resmi 
.dropdown {
    position: relative;
    display:inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}*/
 /* resim altına yazı yazma 
div.gallery {
    margin: 5px;
    border:1px solid #ccc;
    float: left;
    width: 180px;
}
div.galerry:hover {
    border:1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}*/

/*yan yana gif eklemek 

#home {
    width:100px;
    height: 100px;
    background:url("css/kız.gif");
}
#next {
    width:100px;
    height: 100px;
    background:url("css/kız.gif");
} */
/* seçici çerçeve özelliği eklemek 

[title~=çiçekler] {
    border:5px solid yellow
}
[title~=papatya] {
    border:5px solid purple
}*/

/* Button - Form
input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
  }
  
  input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
  } 

  input[type-text]{
    width: 100%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border:2px solid red;
  }*/


/*renkli giriş alanları 

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }*/

  /*arama çubuğu
  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }*/


  /* formm butonu seçim menüsü
  select {
    width: 100%;
    padding: 16px 20px;
    border:none;
    border-radius: 4px;
    background-color: gray;
  }*/

/*
  input[type=button], input[type=sumbit], input [type=reset] {
    background-color: #04AA6D;
    color:white;
    padding: 16px 32px;
    text-decoration: none;
    margin:4px 2px;
    cursor:pointer;
    border:none
  }
body {
  counter-reset: section;
}

h1 {
  counter-reset: subsection;
}

h1::before {
  counter-increment: section;
  content: "Section " counter(section) ". ";
}

h2::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}

/*{box-sizing: border-box;}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    background: pink;
}
.header {
    padding: 10px;
    text-align:left;
    background-color:hotpink;
    margin: 10px;
}
.header h1 {
    font-size: 50px;
}
.topnav a {
    float:left;
    display: block;
    color:cornflowerblue;
    text-align: center;
    padding: 14px  16px;

}

.topnav a:hover {
    background-color: darkgrey;
    color:grey;
}


.card {
    background-color:lightcoral;;
    padding: 20px;
    margin-top: 40px;
}


.row::after {
    content:"";
    display: table;
    clear:both;
}
.Footer {
    padding: 20px;
    text-align: center;
    background-color:lightsalmon;
    font-size:x-small;
}


h1 {
  font-size: 60px;
  }

  p {
    font-size: 25px;
    line-height: 50px;
  }
  .button {
    background-color: grey;
    color:white
  }
  #div1 {
    position: absolute;
    left:50px;
    width: calc (100%-100%);
    border:1px solid black;
    background-color: yellow;
    padding: 5px;
}*/

/* the calc ,işlevi
#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
  

#rcorners2 {
  border-radius: 25px;
  border:2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
#rcorners3 {
  border-radius: 25px;
  background: url(paper.jfif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px; 
}*/
 
/* kenarları yuvarlak yapmak 
#rcorners1 {
  border-radius: 15px 50px 30px 5px;
  background:chocolate ;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners2 {
  border-radius: 15px 50px 30px;
  background: darkolivegreen;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners3 {
  border-radius: 15px 50px;
  background:blueviolet;
  padding: 20px; 
  width: 200px;
  height: 150px; 
} 

#rcorners4 {
  border-radius: 15px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
} 

#borderimg {
  border:100px solid transparent;
  padding: 100px;
  border-image:url(border.png);
}

#borderimg1 {
  border:50px solid transparent;
  padding: 15px;
  border-image: url(border2.jfif) 50 round
}

#borderimg2 {
  border:30px solid transparent;
  padding: 15px;
  border-image: url(border2.jfif) 20 round;
}

#borderimg3 {
  border:10px solid transparent;
  padding: 15px;
  border-image: url(border2.jfif) 30% round;
}

#example1 {
  background-image: url(baykuş.jfif),url(paper.jfif) ;
  background-position:right bottom, left top ;
  background-repeat: no-repeat, repeat;
  padding: 20px;

}*/

/*
#example1 {
  border:1px solid black;
  background:url(baykuş.jfif) ;
  background-repeat: no-repeat;
  background-size: 100px 300px;
  padding: 10px;
}
#example2 {
  border:1px solid black;
  background:url(baykuş.jfif);
  background-repeat: no-repeat;
  padding: 15px; */
}
/* arka plan resmini içerir */
/*
.div1 {
  border:1px solid black;
  height: 130px;
  width: 160px;
  background: url(baykuş.jfif);
 background-repeat: no-repeat;
 background-size: contain;
}
/*arka plan kapak 
.div2 {
  border:1px solid black;
  height: 120px;
  width: 150px;
  background:url(baykuş.jfif);
  background-size: cover;
}

.div{
  border: 1px solid black;
  height: 120px;
  width: 150px;
  background: url(baykuş.jfif);
  background-repeat: no-repeat;
}*/
/*
body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background:url(imggg.jpg);
  background-size: cover;
  height: 700px;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white
}*/
/*
#example1 {
  border: 10px dotted palevioletred;
  padding: 35px;
  background:burlywood;
  background-clip: content-box;
}*/

/* renkli kenarlık 
div {
  color:purple;
  border:10px solid cornflowerblue;
  padding: 15px;
}div {
  color:pink;
  border:10px solid cornflowerblue
}*/
/*
body {
  color:palevioletred
  }
  div {
    background-color: palevioletred;
    padding: 15px;
  }
div p {
  color:white;
}*/
/* gölgeli kutu



body {
  color:green;
}
div {
  box-shadow: 0px 0px 15px currentColor;
  padding: 15px;
}*/


/*cümle içinde kelimeyi kutu içine alma 
div {border:2px solid red;}
 span {
  border:inherit
 }*/
/*
 #grad1 {
  height: 200px;
  background-color: red; 
  background-image: linear-gradient(red, yellow);
} */
/*
#grad3 {
  height: 200px;
  background-color: red;
  background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
  text-align: center;
  font-size: 55px;

}

#grad1 {
  height: 150px;
  width: 200px;
  background-color: red;
  background-image: radial-gradient(red 15%,yellow,green);
}
#grad4 {
  height: 200px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients 
  background-image: conic-gradient(red, yellow, green, blue, black);
  border-radius: 50%;
}
h1 {text-shadow: 2px 2px;}
h2 {
  color:purple;
  text-shadow: 2px 2px 4px #000000 ;
}
h3 {
  color:coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black,0 -1px black;
}*/
/*

div {
  width: 300px;
  height: 100px;
  padding: 15x;
  background-color: coral;
  box-shadow: 10px 15px lightcoral ;
}
.class {
  width: 300px;
  height: 100px;
  padding: 15px;
  background-color: crimson;
  box-shadow: 10px 10px 5px lightseagreen ;
}*/
/*
div.card {
  width: 250px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;}

  div.header {
    background-color: hotpink;
    color:white;
    padding: 10px;
    font-size: 40px;}

    div.container {
      padding: 10px;
    }*/

   /* 
    div.test {white-space: nowrap;
    width: 200px;
    overflow: hidden;
    border:1px solid #000
  }

  div.test:hover {
    overflow: visible;
  }*/
  
  /*  
p.test1 {
  writing-mode: horizontal-tb;
}

span.test2 {
  writing-mode: vertical-lr;
}

p.test2 {
  writing-mode: vertical-lr;
}*/
/*
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
  font-weight:bold;
}

* {
  font-family: myFirstFont;
}*/
/*
div {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border:1px solid black;
}*/

/* div elementini çevirmek 
div#myDiv {
  transform: rotate(20deg);
}*/

/* div ögesi eğilir
div {width: 300px;
    height: 100px;
    background-color:palevioletred;
    border:1px solid black;
}

div#myDiv{
  transform: skewX(20deg);
}*/
/*
div{width: 300px;
height: 100px;
background-color: aquamarine;
border:1px solid black;}

div#myDiv1 {
  transform: matrix(1, -0.3, 0, 1, 0, 0);
}


div#myDiv2 {
  transform: matrix(1, 0, 0.5, 1, 150, 0);
}*/

/*
div {
  width: 300px;
  height: 100px;
  background-color:cornflowerblue;
  border:1px solid black;
}
#myDiv {transform: rotateY(150deg)}*/

/*geçiş özelliği
div {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}
div:hover {
  width: 300px;
}*/
/*
div {
  width: 100px;
  height: 100px;
  background: pink;
  transition: width 2s;
}
#div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: ease;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-in-out;}
#div4 {transition-timing-function: ease-in-out;}
div:hover {
  width: 300px;
}*/

/* 1s geçiş gecikmesi
div {
  width: 100px;
  height: 100px;
  background:burlywood;
  transition: width 3s;
  transition-delay: 1s;
}
div:hover {width: 300px;}*/

/*
div {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 2s, transform 2s;
}

div:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}*/
/* animasyon renk değiştirme 
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  0%{background-color:red;}
  25%{background-color:yellow;}
  50% {background-color:blue;}
  100%{background-color:green;}
}*/


/*Animasyon oynatma
div {
  width: 100px;
  height: 100px;
  background-color: pink;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:purple; left:0px; top:200px;}
  100% {background-color:pink; left:0px; top:0px;}
}*/


/*animasyon geciktirme
div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 5s;
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}*/


/*
div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}*/


/*animasyon sonzuza kadar çalışır
div {
  width: 100px;
  height: 100px;
  background-color: pink;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%{background-color:pink; left:0px;top:0px;}
  25%{background-color:purple;left:200px;top:0px}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}*/



/* farklı hız eğrileri ile hareket ettirme
div {
  width: 100px;
  height: 50px;
  background-color: palevioletred;
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite
}
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
  from {left:0px}
  to {left:300px}
}*/


/*ipucu metni-fare üzerine gelince çalışır
.tooltip {position:relative;
display: inline-block;
border-bottom: 1px dotted black;}

.tooltip .tooltiptext {
  visibility:hidden;
  width: 120px;
  background-color: red;
  color: #ffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
position: absolute;
z-index:1;
top:-5px;
left:105%;
}
.tooltip:hover .tooltiptext{visibility: visible;}*/
/*
img {border:1px solid #dddd;
  border-radius:4px;
  padding: 5px;
  width: 150px ;}*/
  /*
  body {margin:25px;}

  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }*/
  /*
  img {
    opacity: 0.5;
  }*/



  /*foroğraflara efekt
  body {
    background-color: white;
  }
  img {
    width: 33%;
    height: auto;
    float: left;
    max-width: 235px;
  }

  .blur {filter: blur(4px);}
  .brightness {filter: brightness(250%);}
  .contrast {filter: contrast(180%);}
  .grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px green);}*/

/*
.container {
  position: relative;
  width: 50%;
}

.image{
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;}

.container:hover .overlay {
  opacity: 1;
}


.text {
  color:white;
  font-size: 20px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
}*/

/*
.container {
  position: relative;
  width: 50%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {transition: .5s;
opacity: 0;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color:white;
  font-size: 16px;
  padding: 16px 32px;
}*/
/*görüntüyü yan çevirir
img:hover {
  transform: scalex(-1);
}*/

/*görüntüyü yansıtma
img {
  -webkit-box-reflect:below 20px
}*/
/*
.mask1 {
  -webkit-mask-image: url(w3schools-logo-icon.png);
  mask-image:url(w3schools-logo-icon.png);
  -webkit-mask-repeat;no-repeat;
  mask-repeat: no-repeat;
}*/
/*
p {
  font-size: 20px;
  padding: 20px;
  color:black;
}
.mask1 {
  max-width: 600px;
  height: 350px;
  overflow-y: scroll;
  background:url(manzara.jfif);
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient (black, transparent);
}*/
/*
.pagination: {
  display:first;
}
.pagination a {
  color:black;
  float:left;
  padding: 8px 16px;
  text-decoration: ;
} 
.pagination a.active {
  background-color: red;
  color:white;
}
.pagination a:hover:not(.active) {background-color: red}*/
/*
.newspaper {
  column-count: 3;
}

.newspaper2 {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
}
div {
  border:2px solid;
  padding: 20px;
  width: 300px;
  resize:horizontal;
  overflow: auto;

}*/

/*
:root {
  --blue: #1e90ff;
  --white: #ffffff; 
}

body {
  background-color: var(--blue);
}

h2 {
  border-bottom: 2px solid var(--blue);
}

.container {
  color: var(--blue);
  background-color: var(--white);
  padding: 15px;
}

button {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 5px;
}*/

/*
body {
  background-color: pink;
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}*/
/*
(burada yıldız var) {box-sizing: border-box;}
.topnav {
  overflow: hidden;
  background-color:lightcoral;
}

.topnav a{
  float: left;
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color:black;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }*/



  /*efekti görmek için tarayıcı penceresi yeniden boyutlandırılır
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }*/

  /*

  (burada yıldız var) {box-sizing: border-box;}
body { font-family: arial;
    marign:0
}

.header {
  padding: 60px;
  text-align: center;
  background:#1abc9c;

}
.navbar a{
  display: flex;
  background-color:darkkhaki;}
.navbar a:hover {
  background-color: darkolivegreen;
  color:black;
}
.navbar a {color:white;
padding: 14px 20px;
text-decoration: none;
text-align: center;
}

.row {
  display: flex;
  flex-wrap:wrap;

}

.side { flex:30%;
background-color: powderblue;
padding: 20px;}

.main {
  flex:70%;
  background-color: white;
  padding: 20px;
}
.fakeimg {background-color: #aaa;
width: 100%;
padding: 20px;}

.footer {padding: 20px;
text-align: center;
background-color: #aaa;}*/

/*
body {
  margin:0;
  }

  *{
    box-sizing: border-box;
  }

  input, textarea {
    width: 100%;
  }*/


  /*
.flex-container {
  display: flex;
  background-color: dodgerblue;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin:10px;
  padding: 20px;
  font-size: 30px;
}*/

/*
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin:10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}*/

/*soldan sağa sıralar
.flex-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: palevioletred;
}

.flex-container > div {
  background-color: papayawhip;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}*/

/*
büyüklü küçüklü sırala
.flex-container {
  display: flex;
  height: 200px;
  align-items: baseline;
  background-color: palevioletred;
}

.flex-container > div {
  background-color:palegoldenrod;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
*/
/*
.flex-container {display: flex;
align-items: stretch;
background-color: darkgrey;}

.flex-container > div {
  background-color: darksalmon;
  color:white;
  width: 100px;
  margin:10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}*/

/*
*{box-sizing: border-box;}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}
.flex-item-left {
  background-color: antiquewhite;
  padding: 10px;
  flex:50½
}
@media (max-width:800px) {
  .flex-container {
    flex-direction: column;
  }
}
.flex-item-right {
  background-color: aqua;
  padding: 10px;
  flex:50%
}*/

/*
* {box-sizing: :border-box;}

.header {
  border: 1px solid red;
  padding: 15px;
}

.menu {
  width: 25%;
  float:left;
  padding: 15px;
  border:1px solid red;
}

.main {
  width: 50%;
  float:left;
  padding: 15px;
border:1px solid red;}*/





/*duyarlı web sitesi
* {
  box-sizing: border-box;
}

.row::after {
  content:"";
  clear:both;
  display: table;
}

[class*"col-"] {
  float:left;
  padding: 15px;}


 .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}


.header {
  background-color: darkseagreen;
  color:antiquewhite;
  padding: 15px;
}

.menu li {
  padding: 8px;
  margin-bottom:7px;
  background-color:darksalmon;
  color:bisque;
  box-shadow: 0 1px 3px rgba(rgb(255, 0, 0), green, blue, alpha);
}
.menu li:hover {
  background-color: #0099cc;
}*/


/*ekran boyutuna göre renk değiştiren background color
.example {padding: 20px;
color:antiquewhite;}

/*ekstra small için 
@media only screen and (max-width: 600px) {
  .example {background: red;}
}*/

/*medium için renk
@media only screen and (min-width:768px) {
  .example {background-color: blue;}
}*/

/*large için 

@media only screen and (min-width:1200px) {
  .example {background-color: pink;}
}*/


/* ekran boyutuna göre div ögesini gizler*/

/*
div.example {
  background-color: yellow;
  padding: 20px;
}

@media screen and (max-width:600) {
  dix.example {
    display: none;
  }
}*/

/*
div {
  width: 80%;
  height: 300px;
  background-image: url(photo.jpg);
  background-size: 100% 100%;
  border:1px solid red;
}*/

/*
div {
  width: 200px;
  height: 400px;
  background-image: url(kasımpatı.jfif);
  background-size: cover;
  border:1px solid red;
}*/


/*ızgara düzeni
.grid-container {
  display: grid;
grid-template-columns: auto auto auto;
background-color:palegreen;
padding: 10px;}

.grid-item {
  background-color: pink;
  border:1px solid palevioletred;
  padding: 20px;
  font-size: 30px;
  text-align:center;
}*/

/*ızgara düzem,-sütun boşluğu
.grid-container {
  display: grid;
  column-gap:50px;
  grid-template-columns: auto auto auto;
  background-color: khaki;
  padding: 10px;
}

.grid-item {
  background-color:plum;
  border:1 px solid;
  padding: 20px;
  font-size: 30px;
  text-align: center;

}*/


/*
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: pink;
  padding: 10px;
}

.grid-container > div {
  background-color: lightseagreen;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end:3;
}*/



/*
.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 50px 50px 50px;
  gap:10px;
  background-color: skyblue;
}
.grid-container > div {
  background-color:darksalmon;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}*/

/*
.grid-container {
  display: grid;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  
  .item5 {
    grid-column: 1 / span 3;
    grid-row: 3;
  }*/

  /*
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color:powderblue;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color:palevioletred;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 { grid-area: 1 / 3 / 2 / 4; }
  .item2 { grid-area: 2 / 3 / 3 / 4; }
  .item3 { grid-area: 1 / 1 / 2 / 2; }
  .item4 { grid-area: 1 / 2 / 2 / 3; }
  .item5 { grid-area: 2 / 1 / 3 / 2; }
  .item6 { grid-area: 2 / 2 / 3 / 3; }*/


/*
  *{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
  }*/

  /*üst gezinme çubuğunun stili
  .topnav a{
    float:left;
    display: block;
    color: #f2f2ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }*/


  /*fareyle üzerine geldiğinde rengi değiştirir
  .topnav a:hover {
    background-color: #ddd;
    color:black;
    }*/



/*içeriğin stili
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
}*/

/*metin bloklarını resim üzirine ekleme*/
.container {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.text-block {
  position: absolute;
  bottom:20px;
  right: 20px;
  background-color: black;opacity:0.6;
  color:white;
  padding-left: 20px;
  padding-right: 20px;
}